<p-table [value]="tags" [loading]="loading" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="loadTags($event)" [totalRecords]="totalRecords">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="count">Count <p-sortIcon field="count"></p-sortIcon></th>
      <th pSortableColumn="percentage">Percentage <p-sortIcon field="percentage"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tag>
    <tr>
      <td>{{ tag.name }}</td>
      <td>{{ tag.count }}</td>
      <td>{{ tag.percentage }}%</td>
    </tr>
  </ng-template>
</p-table>